.popup {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.popup div {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup div p {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.popup div button {
    background-color: black;
    color: white;
    transition: all ease-in-out 0.3s;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.popupcontent button:hover {
    background-color: rgb(188, 182, 182);
    color: black;
}

.popup .popupcontent {
    transform: scale(1);
}

@media only screen and (max-width: 768px) {
    .popupcontent {
        max-width: 80%;
    }
}

.notification {
    position: fixed;
    top: 50px;
    right: 50px;
    width: max-content;
    padding: 20px 15px;
    border-radius: 4px;
    background-color: #141619;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    animation: slide-in 0.5s linear forwards;
}


@keyframes slide-in {

    from {
        transform: translateX(0);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

.notification__progress {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right, #539bdb, #3250bf);
    border-radius: inherit;
    animation: load 3s 0.25s linear forwards;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes load {
    to {
        transform: scaleX(1);
    }
}